<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Catalogo Prodotti</title>
  <style>
    .red { color: red; }
    .green { color: green; }
  </style>
</head>
<body>
  <h1>Catalogo Prodotti</h1>

<!-- IMPLEMENTATION HERE -->

  <p><a href="/">Torna alla Home</a></p>
</body>
</html>
